/* .home-bg{
  background-image: url("./Assets/images/homebg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.education-bg{
  background-image: url("./Assets/images/FAQ\ accordian\ item\ wrap.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;

} */
/* @media screen and (max-width: 767px) {
  .education-bg{
    background-image: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background:#000000;
    height: auto;
    width: 100%;
    border-radius: 15px;
    text-align: center;
  
  }
}
.Slider-setting .slick-prev {
  left: -34px;
}

.Slider-setting .slick-next {
  right: -15px;
}

@media screen and (max-width: 600px) {
  .Slider-setting .slick-prev {
    left: -17px;
  }

} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
