.body {
  /* background: url("../../images/background.png"); */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  max-width: 90vh;
}
.headerText {
  text-align: center;
  color: #101828;
  font-size: 1.5rem;
}
.headerNextText {
  text-align: center;
  color: #d32028;
}
.headerLabelText {
  text-align: start;
  color: #101828;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.nextStepsCard {
  background: #fff8f4;
  border: 1px solid rgba(212, 33, 41, 0.15);
  border-radius: 12px;
  padding: 2rem 1rem;
}
